name: "Run all cypress-tests in a project"

on:
  workflow_call:
    inputs:
      config_file_path:
        type: string
        required: false
        default: "cypress.config.ts"
      test_port:
        type: string
        required: false
        default: "3005"
      test_domain:
        type: string
        required: false
        default: "localhost"
      cypress_image:
        type: string
        required: false
        default: "cypress/browsers:node-20.14.0-chrome-125.0.6422.141-1-ff-126.0.1-edge-125.0.2535.85-1"
      vercel_org_id:
        type: string
        required: true
      vercel_project_id:
        type: string
        required: true
    secrets:
      vercel_token:
        required: true
env:
  CACHE_DIR: cache/
  VERCEL_ORG_ID: ${{ vars.vercel_org_id }}
  VERCEL_PROJECT_ID: ${{ vars.vercel_project_id }}

jobs:
  install:
    name: Install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          cache: "npm"
          registry-url: "https://npm.pkg.github.com"
          scope: "@understory-io"
          cache-dependency-path: "**/package-lock.json"

      - name: Install dependencies
        run: npm ci

  test:
    name: E2E tests
    needs: install
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.cypress_image }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Chrome
            browser: chrome
    steps:
      - name: Add '${{inputs.test_domain}}' to /etc/hosts
        run: |
          echo "127.0.0.1 ${{inputs.test_domain}}" | tee -a /etc/hosts

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          cache: "npm"
          registry-url: "https://npm.pkg.github.com"
          scope: "@understory-io"
          cache-dependency-path: "**/package-lock.json"

      - name: Setup local environment
        run: |
          npm install --global vercel@latest
          vercel env pull --token=${{ secrets.vercel_token }} --environment=development

      - name: Cypress test
        uses: cypress-io/github-action@v6
        with:
          config-file: ${{inputs.config_file_path}}
          config: baseUrl=http://${{inputs.test_domain}}:${{inputs.test_port}}
          build: npm run build
          start: npm run dev
          browser: ${{ matrix.browser }}
          wait-on: "http://${{inputs.test_domain}}:${{inputs.test_port}}"
