name: "Build & Deploy Glue Lambda Service"

on:
  workflow_call:
    inputs:
      stage:
        type: string
        required: true
      api_dir:
        type: string
        default: ""
    secrets:
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true
      aws_region:
        required: true
      aws_role_to_assume:
        required: false
      hb_github_ssh_key:
        required: true
      hb_github_packages_read_only_token:
        required: true

jobs:
  build:
    name: "Build & Deploy Service"
    runs-on: ubuntu-latest
    environment: ${{ inputs.stage }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: "./checkout"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          node-version: 18
          registry-url: "https://npm.pkg.github.com"
          cache: "npm"
          cache-dependency-path: "./checkout${{ inputs.api_dir }}/package-lock.json"
          scope: "@holdbar-com"

      - name: Checkout Glue
        uses: actions/checkout@v4
        with:
          repository: holdbar-com/glue
          ref: main
          path: "./glue"
          ssh-key: ${{ secrets.hb_github_ssh_key }}

      - name: Checkout node-aws-env
        uses: actions/checkout@v4
        with:
          repository: holdbar-com/node-aws-env
          ref: v1.0.4
          path: "./node-aws-env"
          ssh-key: ${{ secrets.hb_github_ssh_key }}

      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.hb_github_ssh_key }}

      - name: Install & Setup node-aws-env
        run: |
          cd ./node-aws-env
          npm install -g typescript@5.4.5 eslint@8.57.0 mocha@10.4.0
          npm install
          tsc

      - name: Configure AWS credentials
        id: aws
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: ${{ secrets.aws_region }}
          role-to-assume: ${{ secrets.aws_role_to_assume }}
          role-session-name: Github-Actions-Glue-Session
          role-duration-seconds: 3600

      - name: Build
        run: |
          cd ./checkout${{ inputs.api_dir }}
          echo -e "@holdbar-com:registry=https://npm.pkg.github.com\n//npm.pkg.github.com/:_authToken=${{ secrets.hb_github_packages_read_only_token }}" > .npmrc
          npm install
          tsc 
          eslint
          node ./node_modules/@riddance/env/bin/prepare.js
          node ./node_modules/@riddance/env/bin/install.js ${{ github.workspace }}/checkout${{ inputs.api_dir }}

      - name: Test
        if: ${{ inputs.stage != 'production' }}
        env:
          stage: ${{ inputs.stage }}
          CI: true
        run: |
          cd ./checkout${{ inputs.api_dir }}
          [ -f test/env.${{ inputs.stage }}.txt ] && mv test/env.${{ inputs.stage }}.txt test/env.txt
          mocha

      - name: Deploy
        run: |
          cd ./checkout${{ inputs.api_dir }}
          node ${{ github.workspace }}/node-aws-env/bin/deploy.js --env ${{ inputs.stage }} --glue-file ${{ github.workspace }}/glue/${{ inputs.stage }}/glue.json
