name: 'Collect components usage'

on:
  workflow_call:
    inputs:
      src_dir:
        type: string
        required: true
      app_name:
        type: string
        required: true
      package_match_pattern:
        type: string
        required: true
      package_display_name:
        type: string
        required: true
    secrets:
      PIXEL_COLLECTOR_API_KEY:
        required: true
jobs:
  collect-usage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          node-version: 22.x
          registry-url: 'https://npm.pkg.github.com'
          scope: '@understory-io'

      - name: Scan for package imports
        id: scan
        run: |
          output=$(npx --yes @understory-io/scan-imports@v1.2.0 scan -d ${{ inputs.src_dir }} -i ${{ inputs.package_match_pattern }} --regex -ext .tsx,.ts -f json)
          filename=$(echo "$output" | sed -n 's/^Outputting .* to \(.*\.json\)$/\1/p')
          echo "filename=$filename" >> $GITHUB_OUTPUT

      - name: POST collected metrics to API
        run: |
          escaped_package_name="${{ inputs.package_display_name }}"
          escaped_package_name="${escaped_package_name//\//__}"
          curl -X POST "https://api.app.understory.io/v1/pixel/collector/${{ inputs.app_name }}/${escaped_package_name}" \
            -H "Content-Type: application/json" \
            -H "api-key: ${{secrets.PIXEL_COLLECTOR_API_KEY}}" \
            -H "x-company-id: understory-io" \
            --data @"${{ steps.scan.outputs.filename }}"
