name: "Extract Repository Data"

on:
  workflow_call:
    outputs:
      repository_name:
        description: "Base repository name, without organization"
        value: ${{ jobs.extract-data.outputs.repository_name }}
      image_tag_prefix:
        description: Determined based on the branch name. Is either `prod-`, `stage-` or `dev-`"
        value: ${{ jobs.extract-data.outputs.image_tag_prefix }}

jobs:
  extract-data:
    name: "Data Setup"
    runs-on: ubuntu-latest
    outputs:
      repository_name: ${{ steps.set_data.outputs.repo_name }}
      image_tag_prefix: ${{ steps.set_data.outputs.image_tag_prefix }}
    steps:
      - name: Set Outputs
        id: set_data
        run: |
          
          if [ "$GITHUB_REF_NAME" = "main" || "$GITHUB_REF_NAME" = "master" ]; then
            IMAGE_TAG="prod-"
          elif [ "$GITHUB_REF_NAME" = "release/"* ]; then
            IMAGE_TAG="stage-"
          elif [ "$GITHUB_REF_NAME" = "hotfix/"* ]; then
            IMAGE_TAG="stage-"
          else
            IMAGE_TAG="dev-"
          fi
          
          repo="${{ github.repository }}"
          REPO_NAME=${repo#*/}
          
          echo "repo_name=$REPO_NAME" >> $GITHUB_OUTPUT
          echo "image_tag_prefix=$IMAGE_TAG" >> $GITHUB_OUTPUT